<nav class="">
  <ul class="nav nav-pills">
    <li class="nav-item dropdown">
      <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button" aria-expanded="false">Taller</a>
      <ul class="dropdown-menu">
        <li class="">
          <a  class="dropdown-item"  [routerLink]="['/Vehiculos']" >Vehiculo</a>
        </li>
        <li class="">
          <a  class="dropdown-item" [routerLink]="['/Repuestos']" >Repuesto</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a  class="nav-link">Clientes</a>
    </li>
    <li class="nav-item">
      <a  class="nav-link"><P>roveedores</P></a>
    </li>

  </ul>
</nav>


<app-cabecera></app-cabecera>

<router-outlet></router-outlet>